*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/jarRepositories.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/vcs.xml
/.idea/assetWizardSettings.xml
/.idea/gradle.xml
/.idea/compiler.xml
/.idea/artifacts
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
ios.xcworkspace/
out
build
*.hprof